apiVersion: v1
kind: Service
metadata:
  name: garmin-scraper
  namespace: monitoring
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.52
  ports:
    - port: 8080
      protocol: TCP
      name: garmin-scraper
  selector:
    app: garmin-scraper
status:
  loadBalancer:
    ingress:
    - ip: 192.168.0.52
